* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  h1 {
    font-size: 64px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 300;
  color: #656565;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 1440px) {
  h4 {
    font-size: 20px;
  }
}

.header {
  width: 100%;
  height: 64px;
  background-color: rgba(241, 241, 241, 0.9);
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
.header__logo {
  height: 40px;
  width: auto;
  margin-top: 8px;
}
.header__nav {
  margin-top: 24px;
}
.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  grid-gap: 64px;
}
.header__link {
  text-decoration: none;
  color: #656565;
  font-weight: 400;
}
.header__link--effect-1 {
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
.header__link--effect-1:focus, .header__link--effect-1:hover {
  color: #000000;
}
.header__link--effect-1:focus:after, .header__link--effect-1:hover:after {
  width: 100%;
  left: 0%;
}
.header__link--effect-1:after {
  content: "";
  pointer-events: none;
  bottom: -4px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #5fbe47;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.header__link--effect-1:focus, .header__link--effect-1:hover {
  color: #000000;
}
.header__link--effect-1:focus:after, .header__link--effect-1:hover:after {
  width: 100%;
  left: 0%;
}
.header__link--effect-1:after {
  content: "";
  pointer-events: none;
  bottom: -4px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #5fbe47;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.header__link--effect-2 {
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
.header__link--effect-2:focus, .header__link--effect-2:hover {
  color: #000000;
}
.header__phone {
  margin-top: 24px;
  text-decoration: none;
  color: #656565;
  font-weight: 400;
}
.header__burger {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 4px;
  margin-top: 14px;
  position: relative;
  z-index: 3;
}
.header__burger span {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.header__burger span:before {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #656565;
  position: absolute;
  left: 0;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
}
.header__burger span:nth-child(1)::before {
  top: 14px;
  transform: translateY(-3px);
}
.header__burger span:nth-child(2)::before {
  bottom: 14px;
  transform: translateY(3px);
}
.header__burger--close span:nth-child(1) {
  transform: rotate(45deg) translateY(1px);
}
.header__burger--close span:nth-child(2) {
  transform: rotate(-45deg) translateY(-1px);
}
.header__burger--close span:nth-child(1)::before, .header__burger--close span:nth-child(2)::before {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.header__burger--close span:nth-child(1), .header__burger--close span:nth-child(2) {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.header__screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  z-index: 2;
  opacity: 0;
}
.header__contacts {
  display: flex;
  position: absolute;
  bottom: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  opacity: 0;
}
.header__contacts p {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}
.header__contacts p:nth-child(1) {
  width: 100%;
  margin-bottom: 24px;
}
.header__contacts p:nth-child(2) {
  width: auto;
}
.header__contacts p:nth-child(3) {
  width: 280px;
  margin-left: 64px;
}

@media (max-width: 1440px) {
  .header__list {
    grid-gap: 40px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 0 48px;
  }
  .header__nav {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 3;
    margin-top: 16px;
  }
  .header__list {
    flex-direction: column;
    grid-gap: 24px;
  }
  .header__link {
    color: #000000;
    font-size: 32px;
    font-weight: 500;
  }
  .header__phone {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 32px;
  }
  .header__contacts {
    flex-direction: column;
  }
  .header__contacts p:nth-child(3) {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 16px;
  }
}/*# sourceMappingURL=style.css.map */